<%- include("partials/header"); -%>




<form class="" action="/compose" method="post">
    <div class="form-group">
      <label >Title</label>
      <input name="postTitle" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the Title">
      <label>Post</label>
      <textarea class="form-control" name="postBody" cols="40" rows="5" placeholder="Let your creative thoughts do the work!"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

<%- include("partials/footer"); -%>



